// .navigation {
//   height: 70px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 25px;

//   .logo-nav-link {
//     height: 100%;
//     width: 70px;
//     padding: 25px;
//     // .logo {
//         // scale: 10%;
//         // width: 70px;
//     // }
//   }

//   .nav-links-container {
//     width: 50%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;

//     .nav-link {
//       padding: 10px 15px;
//       cursor: pointer;
//     }
//   }
// }
.logo {
  // max-width: 1px;
}

.centered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to 100% of the viewport height */
  background-color: #f0f0f0; /* Set background color for the white areas */
}

.content {
  text-align: center; /* Align content in the center horizontally */
  background-color: #ffffff; /* Set background color for the content area */
  min-width: 80%;
  padding: 20px; /* Add some padding for the content area */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

